body {
  background-image:url('new1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  }

  .container{
    width:80%;
    margin: auto;
  }

  ul{
    margin:0;
    padding:0;
    display:block;
    color: white;
  }

      /*header*/
  .hd
  {
  background-color:#C0C0C0;
  padding-top:30px;
  min-height:70px;
  border-bottom:#e8491d 3px solid;
  }

  .hd a{
    color:#000080;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
  }

   .hd li{
     float: left;display: block;color: white;
     padding: 0 20px 0 20px;
  }
  .hd #brand
  {
      float: left;
  }


   .hd #brand h1
   {
     margin:0;
   }

   .hd nav{
     float:right;
     margin: 10px;
   }

   .hd .high
   {
      color:#e8491d;
      font-weight:bold;
    }
    li a.active {
      background-color: #e8491d;
      color: white;
    }

    li a:hover:not(.active) {
      background-color:gray;
      color: white;

.back{
  background-color: black;
}


 .left{
   float: left;
   width: 70%;
   padding-right: 30%;
 }

 .right{
   float: right;
   width: 30%;
   padding-left: 70%;
 }
