body {
  background-image:url('new1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  }

  .container{
    width:80%;
    margin: auto;
  }

  ul{
    margin:0;
    padding:0;
    display:block;
    color: white;
  }

      /*header*/
  .hd
  {
  background-color:#C0C0C0;
  padding-top:30px;
  min-height:70px;
  border-bottom:#e8491d 3px solid;
  }

  .hd a{
    color:#000080;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
  }

   .hd li{
     float: left;display: block;color: white;
     padding: 0 20px 0 20px;
  }
  .hd #brand
  {
      float: left;
  }


   .hd #brand h1
   {
     margin:0;
   }

   .hd nav{
     float:right;
     margin: 10px;
   }

   .hd .high
   {
      color:#e8491d;
      font-weight:bold;
    }

.back{
max-width: 350px;
border-radius: 20px;
margin: auto;
background: rgba(0, 0, 0, 0.8);
box-sizing: border-box;
margin-top: 100px;
padding: 40px;
}

input[type=text], input[type=password]{
  width: 100%;
  box-sizing: border-box;
  padding: 12px 5px;
  background: rgba(0,0,0,0.10);
  outline: none;
  border: none;
  color: #fff;
  border-bottom: 1px;
  border-radius: 5px;
  margin: 5px;
  font-weight: bold;
  font-size: 15px;

}
